body {
    background-color: gray;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}

* {
    margin: 0;
}

.container {
    width: 1400px;
    height: 800px;
    display: flex;

}

.left-column {
    width: 40%;
    height: 100%;
    justify-content: flex-start;

}

.red {
    background-color: red;

    height: 75%;
}

.blue {
    background-color: blue;

    height: 25%;
    align-self: flex-end;
    justify-content: flex-start;
}

.right {
    width: 60%;
    height: 100%;
    justify-content: flex-start;
    display: flex;
    flex-wrap: wrap;

}

.green {
    background-color: green;
    height: 25%;
    width: 100%;
}

.orange {
    background-color: orangered;
    height: 75%;
    width: 60%;
}

.right2 {
    height: 75%;
    width: 40%;
    justify-content: flex-start;
    align-items: flex-start;
    display: flex;
    flex-wrap: wrap;
}

.pink {
    background-color: pink;
    height: 50%;
    width: 100%;
    align-self: flex-end;
    align-items: center;
    justify-content: center;
    display: flex;

}

.yellow {
    background-color: yellow;
    height: 50%;
    width: 100%;
    align-self: flex-end;
    align-items: center;
    justify-content: center;
    display: flex;
}

.white {
    background-color: white;
    height: 50%;
    width: 50%;
}

.black {
    background-color: black;
    height: 50%;
    width: 50%;
}